.ant-input {
    border-radius: 3px;
}

.content-body {
    background-color: #fff;
    padding: 1rem;
}

.content-body .content-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.content-body .search-input {
    margin-top: 1rem;
    width: 62%;
}

.content-body .search-input:focus {
    border-color: #d9d9d9 !important;
    box-shadow: 0 0 0 2px #000 !important;
    -webkit-box-shadow: 0 0 0 2px #000 !important;
}

.content-body .search-input:hover {
    border-color: #d9d9d9 !important;
}

.content-body .action-btn-group {
    margin-top: 1rem;
}

.content-body .action-btn-group .ant-radio-button-wrapper {
    border-color: #28a745;
    color: #28a745;
}

.content-body .action-btn-group .ant-radio-button-wrapper::before {
    background-color: #28a745 !important;
}

.content-body .action-btn-group .ant-radio-button-wrapper:hover {
    background-color: #28a745;
    color: #fff;
}

.content-body .action-btn-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #fff;
    background: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.content-body .action-btn-group .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #fff;
    background-color: #138496 !important;
    border-color: #117a8b !important;
}

.content-body .action-btn-group .ant-radio-button-wrapper:nth-child(2) {
    border-left: none;
    border-right: none;
}

.content-body .action-btn-group .ant-radio-button-wrapper:first-child {
    border-left: 1px solid #28a745;
    border-radius: 5px 0 0 5px;
}

.content-body .action-btn-group .ant-radio-button-wrapper:last-child {
    border-left: 1px solid #28a745;
    border-radius: 0 5px 5px 0;
}

.content-body .adding-content {
    display: flex;
    margin-top: 1rem;
}

.content-body .adding-content .add-btn {
    margin-left: 7px;
    border-radius: 3px;
    color: #6c757d;
    border-color: #6c757d;
}

.content-body .adding-content .add-btn:hover {
    color: #fff !important;
    background-color: #6c757d;
    border-color: #6c757d;
}

.content-body .adding-content .add-btn:focus {
    color: #6c757d;
    border-color: #6c757d;
    box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%);
}